/* Tu CSS va aqui */

/*fondo del header*/
nav{
	opacity: 0.7;
}
.backhe{
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*texto en blanco*/
.white{
	color: white;
}
.bacna{
	background-color: #DA310F;
}
hr{
	width: 10%;
}
.sob{
	padding: 5% 10%;
}
.hr2{
	border: 1px solid #DA310F;
}
.sec4{
	background-color: black;
}
a{
	text-decoration: none;
}