*{
	font-family: 'Courgette', cursive;
}
nav{
	opacity: 0.7;
}
.serv{
	color: black;
}
.bot-whi{
	background-color: white;
}
.backhe{
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10% 20%;
}
.white{
	color: white;
}
.bacna{
	background-color: #DA310F;
}
hr{
	width: 10%;
}
.bot{

}
.sob{
	padding: 5% 10%;
}
.padso{
	padding: 0 20%;
}
.hr2{
	border: 1px solid #DA310F;
}
.sec4{
	background-color: black;
}
.imge{
	background-repeat: no-repeat;
}
.fo1{
	background-image: url("../img/1.jpg");
}
.fo2{
	background-image: url("../img/2.jpg");
}
.fo3{
	background-image: url("../img/3.jpg");
}
.fo4{
	background-image: url("../img/4.jpg");
}
.fo5{
	background-image: url("../img/5.jpg");
}
.fo6{
	background-image: url("../img/6.jpg");
}
.proyec{
	opacity: 0;
	height: 15em;
	background-color: #DA310F;
	-webkit-transition: opacity 0.2s;
	padding: 5%;
}
.imge:hover .proyec{
	opacity: 0.7;
	font-size: 1em;
}
.mar{
	margin:5%;
}

@media only screen and (max-width: 768px) {
    .titu{
    	color: #DA310F;
    	font-weight: bold;
    	font-size: 2em;
    }
}

.correo{
	color: #DA310F;
}
.move{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.move:hover{
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}